*{
  box-sizing: border-box;
}

h1{
  text-align: center;
  padding: 10px;
}
.container{
  margin: 0 auto;
  max-width: 800px;
  width: 90%;
  background-color: grey;

}

.grid{
  width: 60%;
  margin: 0 auto;
  background-color: grey;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.box{
  width: 30%;
  height: 150px;
  border: 0.5px solid black;
  background-color: white;
  padding: 10px;
  font-size: 80px;
  text-align: center;
  vertical-align: middle;
  line-height: 150px;

}

button{
  width: 50px;
  margin-left: 94%;
}
